article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}
.app-sub-sidebar li::before {
    content: '' !important;
}
audio,
canvas,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

a:focus {
    outline: thin dotted
}

a:active,
a:hover {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

mark {
    background: #ff0;
    color: #000
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em
}

pre {
    white-space: pre-wrap
}

q {
    quotes: "\201C""\201D""\2018""\2019"
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0;
    margin: 10px;
}

img.icon {
    width:12px;
    height:auto;
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button,
input {
    line-height: normal
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.link-inherit {
    color: inherit
}

.link-inherit:focus,
.link-inherit:hover {
    color: inherit
}

.hidden {
    display: none
}

.alert {
    padding: 5px;
    margin-bottom: 20px;
    color: #444;
    background: #eee;
    border-bottom: 5px solid #ddd;
    display:block;
}

.alert-success {
    background: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d
}

.alert-info {
    background: #d9edf7;
    border-color: #bce8f1;
    color: #31708f
}

.alert-danger {
    background: #f2dede;
    border-color: #ebccd1;
    color: #a94442
}

.alert-warning {
    background: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b
}

.hints-icon {
    display: table-cell;
    padding-right: 15px;
    padding-left: 5px;
}
.hints-container {
    display: table-cell;
}

td::before{
    content:' ' !important;
    position:absolute;
}
.hideText{
    color: #ffffff;
    position: absolute;
    top: -100rem;
     
}
.blocks{
    border: solid 0.5px #dbcfcf;
}
.titleBlocks{
    color: #ffffff !important;
    background-color: #C80000;
    padding: 3%;
    margin-top: 0%;
    text-align: center;
}
.list{
    margin-top: -1rem !important;
    margin-left: -1rem;
    list-style-type: none;
}
.listsContainer{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 37%;
    column-gap: 1rem;
    row-gap: 1rem;
    
}
.listsContainer div:nth-child(3) {
    grid-column: 2;
    grid-row: 3 / 1;
  }
.titles{
    color: #ffffff;
    width: 250px;
}
.markdown-section h4 {
    margin: 0px 0 30px 0;
}
.markdown-section th {
    color:white;
}
.markdown-section thead {
    background: #C80000;
}
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio,
canvas,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

a:focus {
    outline: thin dotted
}

a:active,
a:hover {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

mark {
    background: #ff0;
    color: #000
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em
}

pre {
    white-space: pre-wrap
}

q {
    quotes: "\201C""\201D""\2018""\2019"
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0;
    margin: 10px;
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0
}

button,
input {
    line-height: normal
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.link-inherit {
    color: inherit
}

.link-inherit:focus,
.link-inherit:hover {
    color: inherit
}

.hidden {
    display: none
}

.alert {
    padding: 5px;
    margin-bottom: 20px;
    color: #444;
    background: #eee;
    border-bottom: 5px solid #ddd;
    display:block;
}

.alert-success {
    background: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d
}

.alert-info {
    background: #d9edf7;
    border-color: #bce8f1;
    color: #31708f
}

.alert-danger {
    background: #f2dede;
    border-color: #ebccd1;
    color: #a94442
}

.alert-warning {
    background: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b
}

.hints-icon {
    display: table-cell;
    padding-right: 15px;
    padding-left: 5px;
}
.hints-container {
    display: table-cell;
}

.app-sub-sidebar li::before {    
    content: '' !important;
}

td::before{
    content:' ' !important;
    position:absolute;
}
.hideText{
    color: #ffffff;
    position: absolute;
    top: -100rem;
     
}
.blocks{
    border: solid 0.5px #dbcfcf;
}
.titleBlocks{
    color: #ffffff !important;
    background-color: #C80000;
    padding: 3%;
    margin-top: 0%;
    text-align: center;
}
.list{
    margin-top: -1rem !important;
    margin-left: -1rem;
    list-style-type: none;
}
.listsContainer{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 37%;
    column-gap: 1rem;
    row-gap: 1rem;
    
}
.listsContainer div:nth-child(3) {
    grid-column: 2;
    grid-row: 4 / 1;
  }

.titles{
    color: #ffffff;
    width: 450px;
}

.abstractTable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
 }

.gridColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 .gridColumn .contentCell:last-of-type {
    border-bottom: solid 1px #ddd;
 }

 .gridColumn:last-of-type .contentCell {
    border-right: solid 1px #ddd;
 }

 .titleCell {
    background-color: rgb(200, 0, 0);
    border: 1px solid #ddd;
    border-right: none;
    color: #ffffff;
    font-weight: bold;
    padding: 6px 13px;
    text-align: center;
 }

 .contentCell {
    border-left: solid 1px #ddd;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
 }

 .contentCell div {
    border-bottom: solid 1px #ddd;
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    padding: 5px 10px;
 }.contentCell div:last-of-type {
    border-bottom: none;
 }

 .contentCell div:nth-child(2n) {
    background-color: #f8f8f8;
 }